.footer {
	text-align: center;
	padding: 50px 0;
	@media (max-width: $md3+px) {
		padding: 30px 0;
	}
	// .footer__content
	&__content {
	}
	// .footer__social
	&__social {
		margin: 0 0 25px 0;
	}
	// .footer__copy
	&__copy {
	}
}
